default: &default
  adapter: postgresql
  encoding: unicode
  host: localhost
  username: sam
  password: samiralak
  pool: 20

development:
  <<: *default
  database: yielloh-frontend_development

test:
  <<: *default
  database: yielloh-frontend_test

production:
  <<: *default
  database: yielloh-frontend_production
