#wrapper
  %header{ :id => 'header', :class => 'inner-header'}
    .search
      %form#cp-top-search
        %input{ :name => 'search', :type => 'text' :placeholder => 'Enter your search'}
        %button{ :type => 'submit' }
          %i.fa.fa-search

    .cp-top-bar
      .container
        .row
          .col-md-6
            .left-box
              %ul
                %li 1 hour ago
                %li food
                %li Tips to make the best BBQ Pork Ribs
          .col-md-6
            .right-box
              .cp-header-search-box
                .burger
                  %i.fa.fa-search
              %ul.cp-top-bar-social
                %li
                  = link_to '#' do
                    %i.fa.fa-facebook-square
                %li
                  = link_to '#' do
                    %i.fa.fa-facebook-square
                %li
                  = link_to '#' do
                    %i.fa.fa-facebook-square

  // HEDER END

  .cp-navigation-section
    %nav.navbar.navbar-inverse
      .container
        .navbar-header
          %button{ :type => 'button'}

<!--WRAPPER START-->
<div id="wrapper"> 
 
    
    <!--NAVIGATION SECTION START-->
    <div class="cp-navigation-section">
      <nav class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <strong class="cp-logo-style-2"><a href="index.html"><img src="images/logo-black.png" alt="img"></a></strong> </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul id="nav" class="navbar-nav">
				  <li><a href="index.html">Home</a></li>
				  <li><a href="#">About Us</a>
					<ul>
					  <li><a href="about-me.html">About Me</a></li>
					  <li><a href="about-us.html">About Us</a></li>
					</ul>
				  </li>
				  <li><a href="#">Post Format</a>
				   <ul>
					  <li><a href="audio-post.html">Audio Post</a></li>
					  <li><a href="video-post.html">Video Post</a></li>
					  <li><a href="chat-post.html">Chat Post</a></li>
					  <li><a href="link-post.html">Link Post</a></li>
					  <li><a href="slider-post.html">Slider Post</a></li>
					  <li><a href="standred-post.html">Standred Post</a></li>
					  <li><a href="twitter-post.html">Twitter Post</a></li>
					</ul>
				  </li>
				  <li><a href="">Gallery</a>
					 <ul>
						<li><a href="extended-gallery.html">Gallery 2 Column</a></li>
						<li><a href="full-gallery.html">Gallery Full Width</a></li>
						<li><a href="grid-gallery.html">Gallery Masonary</a></li>
						<li><a href="grid-gallery-post-v2.html">Gallery With Post Slider</a></li>
						<li><a href="grid-gallery-post.html">Gallery With Post</a></li>
						<li><a href="gallery-sidebar.html">Gallery With Sidebar</a></li>
					</ul>
				 </li>
				  <li><a href="#">Pages</a>
				   <ul>
					 <li><a href="coming-soon.html">Coming Soon</a></li>
					 <li><a href="page-404.html">404</a></li>
					 <li><a href="login.html">Login</a></li>
					 <li><a href="signup.html">Signup</a></li>
				   </ul>
				  </li>
				  <li><a href="contactus.html">Contact Us</a></li>
				</ul>
          </div>
        </div>
      </nav>
    </div>
    <!--NAVIGATION SECTION START--> 
    
    <!--PAGE TITLE SECTION START-->
    <div class="cp-page-title">
      <h2>Signup New Account</h2>
      <ul class="cp-breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#"> Signup New Account</a></li>
      </ul>
    </div>
    <!--PAGE TITLE SECTION START--> 
    
  </header>
  <!--HEADER END--> 
  
  <!--BANNER START--> 
  
  <!--BANNER END--> 
  
  <!--CONTENT START-->
  <div id="cp-content-wrap" class="page404 cp-login-page">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="cp-signup-box">
            <form>
              <ul>
                <li>
                
                <label>Your Name*</label>
                
                <ul class="cp-name">
                <li><input type="text" class="form-control" placeholder="First Name" required></li>
                <li><input type="text" class="form-control" placeholder="Last Name" required></li>
                </ul>
                </li>
                
                
                <li>
                <label>Enter your email address*:</label>
                <input type="email" class="form-control" placeholder="Email" required>
                </li>
                
                <li>
                <label>Create your username*:</label>
                <input type="text" class="form-control" placeholder="User Name" required>
                </li>
                
                <li>
                <label>Create your password*</label>
                <input type="password" class="form-control" placeholder="Enter your password" required>
                </li>
                
                <li>
                <label>Confirm your password*</label>
                <input type="password" class="form-control" placeholder="Confirm your password" required>
                </li>
                
                
                
                <li class="cp-login-buttons">
                  <button type="submit">Login</button>
</li>
              </ul>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--CONTENT END--> 
  
  <!--FOOTER START-->
  
  <footer class="cp-footer">
    <div class="footer-top">
      <div class="container">
        <div class="row"> 
          
          <!--Text Widget Start-->
          <div class="col-md-3">
            <div class="widget textwidget">
              <h3>About the NeoMag</h3>
              <p>At congue lectus interdum a. Nullam nisl tellus, tempus id mi nec, ornare suscipit purus. Integer nec dui ut eros consequat tempus vel at loremI mean everything absolute and blendered. </p>
              <ul class="footer-social">
                <li><a href="#"><i class="fa fa-facebook-square"></i> </a></li>
                <li><a href="#"><i class="fa fa-envelope"></i> </a></li>
                <li><a href="#"><i class="fa fa-rss"></i> </a></li>
                <li><a href="#"><i class="fa fa-twitter"></i> </a></li>
              </ul>
            </div>
          </div>
          
          <!--Text Widget End--> 
          
          <!--Photo Stream Start-->
          <div class="col-md-3">
            <div class="widget photostram">
              <h3>Photostream</h3>
              <ul class="cp-photo-grid">
                <li><img src="images/ps1.jpg" alt=""></li>
                <li><img src="images/ps2.jpg" alt=""></li>
                <li><img src="images/ps3.jpg" alt=""></li>
                <li><img src="images/ps4.jpg" alt=""></li>
                <li><img src="images/ps5.jpg" alt=""></li>
                <li><img src="images/ps6.jpg" alt=""></li>
              </ul>
            </div>
          </div>
          
          <!--Photo Stream End--> 
          
          <!--Tags Start-->
          <div class="col-md-3">
            <div class="widget cp-tags">
              <h3>Tags</h3>
              <ul class="tags">
                <li> <a href=""> Design</a> <a href=""> General</a> <a href=""> Life Style</a> <a href=""> Travel</a> <a href=""> Wordpress</a> <a href=""> Design</a> <a href=""> Photography</a> <a href=""> General</a> <a href=""> Life Style</a> <a href=""> Travel</a> </li>
              </ul>
            </div>
          </div>
          
          <!--Tags Start--> 
          
          <!--Newsletter Start-->
          <div class="col-md-3">
            <div class="widget cp-newsltter">
              <h3>Newsletter</h3>
              <form id="newsletter">
                <input type="email" required placeholder="Enter email for subscription..." name="email">
                <button type="submit">Subscribe Us</button>
              </form>
            </div>
          </div>
          
          <!--Newsletter End--> 
          
        </div>
      </div>
    </div>
    <div class="footer-mid">
      <ul class="cp-insta-feed">
        <li><img src="images/finsta-1.jpg" alt=""></li>
        <li><img src="images/finsta-2.jpg" alt=""></li>
        <li><img src="images/finsta-3.jpg" alt=""></li>
        <li><img src="images/finsta-4.jpg" alt=""></li>
        <li><img src="images/finsta-5.jpg" alt=""></li>
        <li><img src="images/finsta-6.jpg" alt=""></li>
        <li><img src="images/finsta-7.jpg" alt=""></li>
        <li><img src="images/finsta-8.jpg" alt=""></li>
      </ul>
    </div>
    <div class="cp-footer-bottom">
      <p>&copy; 2015 NeoMag by <a href="http://crunchpress.com" target="_blank">CrunchPress Themes</a> </p>
    </div>
  </footer>
  
  <!--FOOTER END--> 
  
</div>